@charset "utf-8";

/* CSS Document */

/*pantalla utilizada tamaño 1920 x 1080*/
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "elza", sans-serif;
    font-weight: 400;
}

@import url(<link rel="stylesheet" href="https://use.typekit.net/wqz7tsk.css">);


header {
    background-color: #D78FC6;
        /* fondo header*/
        }

.botones {
    display: flex;
    /*propiedad para flex-box*/
    justify-content: space-around;
    padding-top: 20px;
}



.botones a {
    /*propiedad para que el texto del link no tenga nada*/
    margin: 20px;
    padding: 15px 20px;
    /* Espacio interno del botón */
    display: flex;
    font-size: 20px;
    /* Tamaño del texto */
    color: #B34F93;
    background-color: #F1D9ED;
    border-radius: 40px;
    cursor: pointer;
    /* Cambia el cursor cuando se pasa sobre el botón */
    letter-spacing: 1px;
}

.botones a:hover {
    margin: 20px;
    padding: 15px 20px;
    /* Espacio interno del botón */
    font-size: 20px;
    /* Tamaño del texto */
    color: #f7ecf5;
    /* Color del texto */
    background-color: #B34F93;
    /* Sin color de fondo */
    /* Borde fino de 1px */
    border-radius: 40px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor cuando se pasa sobre el botón */
    letter-spacing: 1px;
    font-weight: 700;
}

.baner {
    max-width: 100%;
    margin-top: 20px;
}

/*hasta aca el header*/

/*MAIN*/
.main {
    background-color: #f7ecf5;
}

/*COMIENZO DE SECCION 1 */


.inicio {
    height: 100vh;
    background-color: #D78FC6
}

.inicio h1 {
    font-weight: 700;
    color: #F1D9ED;
    font-size: 128px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    /* nombre al centro*/
    letter-spacing: 4px;
    /*espaciado de letras*/
    transition: transform 0.5s ease-in-out;
}

.inicio h1:hover {
    transform: scale(1.2);
}



/*COMIENZO SECCION 2- DATOS*/


/*pantalla completa*/
#sobre-mi {
    height: 100vh;
    
}

/*cajas*/
#sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* flex-box*/
.caja-presentacion {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

/* titulo sobre mi */
.caja-presentacion h2 {
    color: #B34F93;
    font-size: 80px;
    font-weight: 700;
}

/* imagen*/
.caja-presentacion img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 20px;
}

/*PARRAFO de presentacion*/
.caja-presentacion p {
    font-weight: 400;
    font-size: 35px;
    color: #B34F93;
    max-width: 950px;
    margin-bottom: 20px;
}


/*COMIENZO SECCION 3- DATOS*/

/* flex.box estudios*/



#datos {
    height: 80vh;
    color: #B34F93;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    gap:20px;
}
.informacion-personal {
    padding: 40px;
    border: 4px solid #D26CA7; /* Borde delineado de 2px con el color deseado */
    border-radius: 40px; /* Borde redondeado */
    padding: 40px; /* Espacio interno para que el contenido no quede pegado al borde */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional para mayor profundidad */
    max-width: 400px; /* Anchura máxima para mantener el diseño */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    background-color: white; /* Color de fondo si lo deseas */
}

.logos, .idiomas{
    display: flex;
}
.informacion-personal h3{
    margin: 20px 0 ;
    font-size: 40px;
    font-weight: 700;
    margin-top: 90px;
    gap: 30px;

}

.negrita {
    font-weight: 700;
    margin-top: 10px;
}
#datos li {
    font-size: 20px;
    max-width: 650px;
    margin-right: 10px;
}
.idiomas {
    display: flex;
    column-gap: 30PX;;
}

/*COMIENZO SECCION 4- PROYECTOS*/
#mis-proyectos {
    height: 100vh;
    color: #B34F93;
    padding: 100px;  
}


.catalogo1 {
    display: flex;
    align-items: flex-end;
    gap: 60px;
}

.catalogo2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 130px;
    gap: 60px;
}

#mis-proyectos p {
    font-size: 80px;
    font-weight: 700;
    margin: 0px 170px 0px 170px;
}

#mis-proyectos h2 {
    font-weight: 600;
    text-align: right;
    margin-left: 95px;
}
#mis-proyectos img {
    border-radius: 30px;
    cursor: pointer;
    transition: filter 0.5s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional para mayor profundidad */
}
#mis-proyectos img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    filter: none;
    border: 5px solid #B34F93;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional para mayor profundidad */
}
/*COMIENZO footer 4- PROYECTOS*/


.despedida {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #B34F93;
    width: 100%;
    text-align: center;
    color: #F7ECF5;
}

.despedida h2 { 
    font-size: 60px;
    font-weight: 400;
}


.mensaje {
    color: #B34F93;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mensaje h3 { 
    font-size: 40px;
    font-weight: 700;
}


.copy {
    background-color: #D78FC6;
    width: 100%;
    color: #F7ECF5; 
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;

}
.aside{
    position: fixed;
    top: 23%;
    right: 0;
    transform: translateY(-50%);
    background-color: #B34F93;
    padding: 12px;
    display: flex;
    flex-direction: column;
	border-radius: 25px;
    margin-right: 5px;
}

