@charset "utf-8";

/* CSS Document */

/*pantalla utilizada tamaño 1920 x 1080*/
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "elza", sans-serif;
    font-weight: 400;
}

@import url(<link rel="stylesheet" href="https://use.typekit.net/wqz7tsk.css">);

body {
    cursor: url (img/cursor.png)
}

header {
    background-color: #D78FC6;
    /* fondo header*/
}

.botones {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.botones a {
    /*propiedad para que el texto del link no tenga nada*/
    margin: 20px;
    padding: 15px 20px;
    /* Espacio interno del botón */
    display: flex;
    font-size: 20px;
    /* Tamaño del texto */
    color: #B34F93;
    background-color: #F1D9ED;
    border-radius: 40px;
    cursor: pointer;
    /* Cambia el cursor cuando se pasa sobre el botón */
    letter-spacing: 1px;
}

.botones a:hover {
    margin: 20px;
    padding: 15px 20px;
    /* Espacio interno del botón */
    font-size: 20px;
    /* Tamaño del texto */
    color: #F1D9ED;
    /* Color del texto */
    background-color: #7F3565;
    /* Sin color de fondo */
    /* Borde fino de 1px */
    border-radius: 40px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor cuando se pasa sobre el botón */
    letter-spacing: 1px;
    font-weight: 700;
}







*/

/*hasta aca el header*/
.baner.img {
    position: relative;
    /* Hace que los hijos puedan posicionarse absolutamente */
}

.baner {
    max-width: 100%;
    margin-top: 20px;
}


.brillo {
    left: 100px;
    /* Ajusta según tu diseño */
    transform: translate(608px, -330px);
}

.brillo2 {
    left: 100px;
    /* Ajusta según tu diseño */
    transform: translate(1218px, -330px);
}

/*ANIMACIONES*/
.brillo, .brillo2 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
}

.brillo {
    top: 22%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.brillo2 {
    top: 22%;
    left: 67%;
    transform: translate(-50%, -50%);
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.2;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.2;
    }
}
/*MAIN*/
.main {
    background-color: #F1D9ED
}

/*COMIENZO DE SECCION 1 */


.inicio {
    height: 100vh;
    background-color: #D78FC6;
    position: relative;
}

.inicio h1 {
    font-weight: 700;
    color: #F1D9ED;
    font-size: 128px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    /* nombre al centro*/
    letter-spacing: 4px;
    /*espaciado de letras*/
    transition: transform 0.5s ease-in-out;
}

.inicio h1:hover {
    transform: scale(1.2);
}



/*COMIENZO SECCION 2- DATOS*/


/*pantalla completa*/
#sobre-mi {
    height: 100vh;

}

/*cajas*/
#sobre-mi {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* flex-box*/
.caja-presentacion {
    display: flex;
    gap: 60px;
}

/* titulo sobre mi */
.caja-presentacion h2 {
    color: #B34F93;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.5;
}

/* imagen*/
.caja-presentacion img {
    max-width: 100px;
    max-height: 100px;
}

/*PARRAFO de presentacion*/
.caja-presentacion p {
    font-size: 35px;
    color: #B34F93;
    max-width: 950px;
    padding-top: 32px;
}


/*COMIENZO SECCION 3- DATOS*/

/* flex.box estudios*/



#datos {
    height: 80vh;
    color: #B34F93;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.informacion-personal {
    border: 4px solid #D26CA7;
    /* Borde delineado de 2px */
    border-radius: 40px;
    /* Borde redondeado */
    padding: 30px;
    /* Espacio interno  */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra  */
    max-width: 500px;
    /* Anchura máxima del contenedor*/
    margin: 10px auto;
    /* Centrar el contenedor horizontalmente */
    background-color: #F1D9ED;
    /* Color de fondo si lo deseas */
}

.logos {
    display: flex;
}

.informacion-personal h3 {
    margin: 15px 0;
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;

}

.negrita {
    font-weight: 700;
    margin-top: 10px;
}

#datos li {
    font-size: 20px;
    max-width: 650px;
    margin-right: 10px;
}

.idiomas {
    display: flex;
}

/*COMIENZO SECCION 4- PROYECTOS*/
#mis-proyectos {
    height: 100vh;
    color: #B34F93;
    padding: 100px;
}


.catalogo1 {
    display: flex;
    align-items: flex-end;
    gap: 60px;
}

.catalogo2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 130px;
    gap: 60px;
}

#mis-proyectos p {
    font-size: 80px;
    font-weight: 700;
    margin: 0px 170px 0px 170px;
}

#mis-proyectos h2 {
    font-weight: 600;
    text-align: right;
    margin-left: 95px;
}

#mis-proyectos img {
    border-radius: 30px;
    cursor: pointer;
    transition: filter 0.5s ease;
    border: 2px solid #B34F93;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    /* Sombra opcional para mayor profundidad */
}

#mis-proyectos img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    filter: none;
    border: 5px solid #B34F93;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    /* Sombra opcional para mayor profundidad */
}

/*COMIENZO footer 4- PROYECTOS*/


.despedida {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #B34F93;
    width: 100%;
    text-align: center;
    color: #F1D9ED;
    font-size: 20px;
}

.despedida p {
    letter-spacing: 1px;
}

.despedida h2 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #F1D9ED;
}

.mje {
    display: flex;
    align-items: center;
    column-gap: 15px;

}

.mensaje {
    color: #B34F93;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mensaje h3 {
    font-size: 40px;
    font-weight: 700;
}

.mje img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    filter: none;
}


.copy {
    background-color: #D78FC6;
    width: 100%;
    color: #7F3565;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;

}

.aside {
    position: fixed;
    top: 23%;
    right: 0;
    transform: translateY(-50%);
    background-color: #B34F93;
    padding: 11px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin-right: 5px;
}
.aside img {
    margin-top: 5px;
}